USE [master]
GO
/****** Object:  Database [GLarquitectura]    Script Date: 5/3/2026 19:00:22 ******/
CREATE DATABASE [GLarquitectura]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GLarquitectura', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GLarquitectura.mdf' , SIZE = 139264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GLarquitectura_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GLarquitectura_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GLarquitectura].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GLarquitectura]
GO
/****** Object:  Table [dbo].[carpetas_docs]    Script Date: 5/3/2026 19:00:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carpetas_docs](
	[id_carpeta] [int] IDENTITY(1,1) NOT NULL,
	[id_obra] [int] NOT NULL,
	[descripcion] [varchar](120) NOT NULL,
	[eliminado] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_carpeta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[direccion]    Script Date: 5/3/2026 19:00:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[direccion](
	[id_direccion] [int] NOT NULL,
	[calle] [varchar](100) NOT NULL,
	[numero] [varchar](50) NOT NULL,
	[barrio] [varchar](100) NOT NULL,
	[localidad] [varchar](100) NOT NULL,
	[provincia] [varchar](100) NOT NULL,
	[eliminado] [date] NULL,
 CONSTRAINT [PK__direccio__25C35D07A6F3ED80] PRIMARY KEY CLUSTERED 
(
	[id_direccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[documentos_tecnicos]    Script Date: 5/3/2026 19:00:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[documentos_tecnicos](
	[id_documento] [int] IDENTITY(1,1) NOT NULL,
	[archivo] [nvarchar](255) NOT NULL,
	[tipo] [varchar](50) NOT NULL,
	[versionn] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[usuario] [varchar](50) NOT NULL,
	[eliminado] [date] NULL,
	[archivo_bin] [varbinary](max) NOT NULL,
	[id_carpeta] [int] NOT NULL,
 CONSTRAINT [PK__document__5D2EE7E5AEC3605A] PRIMARY KEY CLUSTERED 
(
	[id_documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estado]    Script Date: 5/3/2026 19:00:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estado](
	[id_estado] [int] NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_estado] PRIMARY KEY CLUSTERED 
(
	[id_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[etapas]    Script Date: 5/3/2026 19:00:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[etapas](
	[id_etapa] [int] IDENTITY(1,1) NOT NULL,
	[id_obra] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[eliminado] [date] NULL,
 CONSTRAINT [PK__etapas__9927D0E82EFE13A4] PRIMARY KEY CLUSTERED 
(
	[id_etapa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[materiales]    Script Date: 5/3/2026 19:00:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[materiales](
	[id_material] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[id_rubro] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[entrega] [bit] NOT NULL,
	[eliminado] [date] NULL,
 CONSTRAINT [PK__material__81E99B83DECE3BB8] PRIMARY KEY CLUSTERED 
(
	[id_material] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nivel]    Script Date: 5/3/2026 19:00:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nivel](
	[id_nivel] [int] NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_nivel] PRIMARY KEY CLUSTERED 
(
	[id_nivel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[obras]    Script Date: 5/3/2026 19:00:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[obras](
	[id_obra] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[id_direccion] [int] NOT NULL,
	[m2_totales] [varchar](50) NOT NULL,
	[id_estado] [int] NOT NULL,
	[eliminado] [date] NULL,
 CONSTRAINT [PK__obras__3DE22919C78F1B23] PRIMARY KEY CLUSTERED 
(
	[id_obra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaginaNivel]    Script Date: 5/3/2026 19:00:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaginaNivel](
	[pagina] [varchar](100) NOT NULL,
	[id_nivel] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pagos]    Script Date: 5/3/2026 19:00:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pagos](
	[id_pago] [int] IDENTITY(1,1) NOT NULL,
	[id_obra] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[fecha] [date] NOT NULL,
	[fecha_ven] [date] NOT NULL,
	[monto] [decimal](12, 2) NOT NULL,
	[estado_pago] [bit] NOT NULL,
	[eliminado] [date] NULL,
 CONSTRAINT [PK__pagos__0941B07432E46DFD] PRIMARY KEY CLUSTERED 
(
	[id_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[presupuestos]    Script Date: 5/3/2026 19:00:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[presupuestos](
	[id_presupuesto] [int] IDENTITY(1,1) NOT NULL,
	[id_tipo] [int] NOT NULL,
	[valor] [varchar](50) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[fechaInicio] [date] NOT NULL,
	[fechafin] [date] NOT NULL,
	[monto_real] [decimal](12, 2) NOT NULL,
	[id_rubroR] [int] NOT NULL,
	[eliminado] [date] NULL,
 CONSTRAINT [PK__presupue__3E94B4E58152AEDC] PRIMARY KEY CLUSTERED 
(
	[id_presupuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rubro]    Script Date: 5/3/2026 19:00:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rubro](
	[id_rubro] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[id_obra] [int] NOT NULL,
	[eliminado] [date] NULL,
 CONSTRAINT [PK__rubro__E7379B0349ED4A25] PRIMARY KEY CLUSTERED 
(
	[id_rubro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rubroR]    Script Date: 5/3/2026 19:00:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rubroR](
	[id_rubroR] [int] IDENTITY(1,1) NOT NULL,
	[id_obra] [int] NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[eliminado] [date] NULL,
 CONSTRAINT [PK__rubroR__3AAECC512252D149] PRIMARY KEY CLUSTERED 
(
	[id_rubroR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tarea]    Script Date: 5/3/2026 19:00:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tarea](
	[id_tarea] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](150) NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_fin] [date] NULL,
	[es_hito] [bit] NOT NULL,
	[id_etapa] [int] NOT NULL,
	[eliminado] [date] NULL,
 CONSTRAINT [PK__tarea__C0ECF707159FF3BC] PRIMARY KEY CLUSTERED 
(
	[id_tarea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_presupuesto]    Script Date: 5/3/2026 19:00:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_presupuesto](
	[id_tipo] [int] NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK__tipo_pre__CF901089F89CB09C] PRIMARY KEY CLUSTERED 
(
	[id_tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 5/3/2026 19:00:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id_usuario] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[apellido] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[contraseña] [varchar](max) NOT NULL,
	[telefono] [varchar](50) NOT NULL,
	[eliminado] [date] NULL,
	[id_nivel] [int] NOT NULL,
 CONSTRAINT [PK__usuarios__4E3E04ADFE407CED] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__usuarios__AB6E6164168405BB] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_carpetas_docs_obra]    Script Date: 5/3/2026 19:00:22 ******/
CREATE NONCLUSTERED INDEX [IX_carpetas_docs_obra] ON [dbo].[carpetas_docs]
(
	[id_obra] ASC
)
INCLUDE([descripcion],[eliminado]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_etapas_id_obra]    Script Date: 5/3/2026 19:00:22 ******/
CREATE NONCLUSTERED INDEX [IX_etapas_id_obra] ON [dbo].[etapas]
(
	[id_obra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_presupuestos_id_rubroR]    Script Date: 5/3/2026 19:00:22 ******/
CREATE NONCLUSTERED INDEX [IX_presupuestos_id_rubroR] ON [dbo].[presupuestos]
(
	[id_rubroR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_rubroR_id_obra]    Script Date: 5/3/2026 19:00:22 ******/
CREATE NONCLUSTERED INDEX [IX_rubroR_id_obra] ON [dbo].[rubroR]
(
	[id_obra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tarea_id_etapa]    Script Date: 5/3/2026 19:00:22 ******/
CREATE NONCLUSTERED INDEX [IX_tarea_id_etapa] ON [dbo].[tarea]
(
	[id_etapa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[carpetas_docs]  WITH CHECK ADD  CONSTRAINT [FK_carpetas_docs_obras] FOREIGN KEY([id_obra])
REFERENCES [dbo].[obras] ([id_obra])
GO
ALTER TABLE [dbo].[carpetas_docs] CHECK CONSTRAINT [FK_carpetas_docs_obras]
GO
ALTER TABLE [dbo].[documentos_tecnicos]  WITH CHECK ADD  CONSTRAINT [FK_documentos_tecnicos_carpetas_docs] FOREIGN KEY([id_carpeta])
REFERENCES [dbo].[carpetas_docs] ([id_carpeta])
GO
ALTER TABLE [dbo].[documentos_tecnicos] CHECK CONSTRAINT [FK_documentos_tecnicos_carpetas_docs]
GO
ALTER TABLE [dbo].[etapas]  WITH CHECK ADD  CONSTRAINT [FK__etapas__id_obra__4BAC3F29] FOREIGN KEY([id_obra])
REFERENCES [dbo].[obras] ([id_obra])
GO
ALTER TABLE [dbo].[etapas] CHECK CONSTRAINT [FK__etapas__id_obra__4BAC3F29]
GO
ALTER TABLE [dbo].[materiales]  WITH CHECK ADD  CONSTRAINT [FK_materiales_rubro] FOREIGN KEY([id_rubro])
REFERENCES [dbo].[rubro] ([id_rubro])
GO
ALTER TABLE [dbo].[materiales] CHECK CONSTRAINT [FK_materiales_rubro]
GO
ALTER TABLE [dbo].[obras]  WITH CHECK ADD  CONSTRAINT [FK__obras__id_direcc__403A8C7D] FOREIGN KEY([id_direccion])
REFERENCES [dbo].[direccion] ([id_direccion])
GO
ALTER TABLE [dbo].[obras] CHECK CONSTRAINT [FK__obras__id_direcc__403A8C7D]
GO
ALTER TABLE [dbo].[obras]  WITH CHECK ADD  CONSTRAINT [FK_obras_estado] FOREIGN KEY([id_estado])
REFERENCES [dbo].[estado] ([id_estado])
GO
ALTER TABLE [dbo].[obras] CHECK CONSTRAINT [FK_obras_estado]
GO
ALTER TABLE [dbo].[obras]  WITH CHECK ADD  CONSTRAINT [FK_obras_usuarios] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[obras] CHECK CONSTRAINT [FK_obras_usuarios]
GO
ALTER TABLE [dbo].[PaginaNivel]  WITH CHECK ADD  CONSTRAINT [FK_PaginaNivel_nivel] FOREIGN KEY([id_nivel])
REFERENCES [dbo].[nivel] ([id_nivel])
GO
ALTER TABLE [dbo].[PaginaNivel] CHECK CONSTRAINT [FK_PaginaNivel_nivel]
GO
ALTER TABLE [dbo].[pagos]  WITH CHECK ADD  CONSTRAINT [FK__pagos__id_obra__4E88ABD4] FOREIGN KEY([id_obra])
REFERENCES [dbo].[obras] ([id_obra])
GO
ALTER TABLE [dbo].[pagos] CHECK CONSTRAINT [FK__pagos__id_obra__4E88ABD4]
GO
ALTER TABLE [dbo].[pagos]  WITH CHECK ADD  CONSTRAINT [FK_pagos_usuarios] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[pagos] CHECK CONSTRAINT [FK_pagos_usuarios]
GO
ALTER TABLE [dbo].[presupuestos]  WITH CHECK ADD  CONSTRAINT [FK_presupuestos_rubroR] FOREIGN KEY([id_rubroR])
REFERENCES [dbo].[rubroR] ([id_rubroR])
GO
ALTER TABLE [dbo].[presupuestos] CHECK CONSTRAINT [FK_presupuestos_rubroR]
GO
ALTER TABLE [dbo].[presupuestos]  WITH CHECK ADD  CONSTRAINT [FK_presupuestos_tipo_presupuesto] FOREIGN KEY([id_tipo])
REFERENCES [dbo].[tipo_presupuesto] ([id_tipo])
GO
ALTER TABLE [dbo].[presupuestos] CHECK CONSTRAINT [FK_presupuestos_tipo_presupuesto]
GO
ALTER TABLE [dbo].[rubro]  WITH CHECK ADD  CONSTRAINT [FK_rubro_obras] FOREIGN KEY([id_obra])
REFERENCES [dbo].[obras] ([id_obra])
GO
ALTER TABLE [dbo].[rubro] CHECK CONSTRAINT [FK_rubro_obras]
GO
ALTER TABLE [dbo].[rubroR]  WITH CHECK ADD  CONSTRAINT [FK_rubroR_obras] FOREIGN KEY([id_obra])
REFERENCES [dbo].[obras] ([id_obra])
GO
ALTER TABLE [dbo].[rubroR] CHECK CONSTRAINT [FK_rubroR_obras]
GO
ALTER TABLE [dbo].[tarea]  WITH CHECK ADD  CONSTRAINT [FK_tarea_etapas] FOREIGN KEY([id_etapa])
REFERENCES [dbo].[etapas] ([id_etapa])
GO
ALTER TABLE [dbo].[tarea] CHECK CONSTRAINT [FK_tarea_etapas]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [FK_usuarios_nivel] FOREIGN KEY([id_nivel])
REFERENCES [dbo].[nivel] ([id_nivel])
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [FK_usuarios_nivel]
GO
USE [master]
GO
